body {
  font-family: "Gill Sans", sans-serif;
  color: #ffffff;
  background: #2a2a2a;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 20px;
  margin: 0 0 0;
  text-align: center;
  text-transform: uppercase; }

#root {
  overflow-y: auto;
  height: 100vh; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.delimiter {
  background-color: #ffffff;
  width: 100%;
  height: 1px; }

.header {
  animation: dropHeader 0.5s ease-in-out;
  position: fixed;
  width: 100%; }
  .header .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    position: relative; }
    .header .navbar-container .navbar-links-container {
      display: flex;
      gap: 20px;
      align-items: center; }
      .header .navbar-container .navbar-links-container .navbar-link {
        display: inline-block;
        position: relative;
        color: #ffffff;
        text-transform: uppercase; }
        .header .navbar-container .navbar-links-container .navbar-link:hover {
          cursor: pointer;
          text-decoration: none; }
        .header .navbar-container .navbar-links-container .navbar-link::after {
          content: "";
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 2px;
          bottom: -5px;
          left: 0;
          background-color: #e4e40e;
          transform-origin: bottom right;
          transition: transform 0.25s ease-out; }
        .header .navbar-container .navbar-links-container .navbar-link:hover::after {
          transform: scaleX(1);
          transform-origin: bottom left; }
        .header .navbar-container .navbar-links-container .navbar-link.active::after {
          transform: scaleX(1);
          transform-origin: bottom left; }
    .header .navbar-container .hamburger {
      display: none; }
    .header .navbar-container .navbar-side-container {
      display: none; }
    .header .navbar-container .navbar-name:hover {
      cursor: pointer; }
    @media only screen and (max-width: 840px) {
      .header .navbar-container .navbar-links-container {
        display: flex;
        flex-direction: column;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        background-color: black;
        transition: 0.5s;
        padding-top: 60px;
        transform: translateX(100%); }
        .header .navbar-container .navbar-links-container.active {
          transform: translateX(0); }
        .header .navbar-container .navbar-links-container .navbar-link {
          margin: 10px 20px;
          font-size: 18px; }
      .header .navbar-container .hamburger {
        display: flex;
        justify-content: center;
        cursor: pointer;
        align-self: center;
        height: 20px;
        width: 20px; }
        .header .navbar-container .hamburger button img {
          filter: invert(1); } }

@keyframes dropHeader {
  from {
    transform: translateY(-150%); }
  to {
    transform: translateY(0); } }

@keyframes animate {
  50%,
  70% {
    width: 100%; } }

#home {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  scroll-snap-align: start; }
  #home .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    width: 100%; }

#about-me {
  height: 100%;
  scroll-snap-align: start; }
  #about-me .content-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 45px; }
    #about-me .content-container .about-me-content {
      margin: 0 20px 10px;
      height: 100%; }
      #about-me .content-container .about-me-content .my-image {
        background-image: url("../../../assets/images/me.jpg");
        height: 20rem;
        width: 20rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 80% 20% 70% 30% / 30% 74% 26% 70%;
        margin: 4rem 20px 0 0;
        float: left;
        shape-outside: ellipse(21% 57% at 77% 73%); }
        @media only screen and (max-width: 840px) {
          #about-me .content-container .about-me-content .my-image {
            height: 20vh;
            width: 40vw;
            min-height: 15rem;
            shape-outside: ellipse(26% 36% at 75% 64%);
            margin-top: 6em; } }
      #about-me .content-container .about-me-content .text-content p {
        text-align: justify;
        font-weight: 300; }
        @media only screen and (max-width: 380px) {
          #about-me .content-container .about-me-content .text-content p {
            font-size: 14px; } }
        @media only screen and (max-width: 290px) {
          #about-me .content-container .about-me-content .text-content p {
            font-size: 12px; } }
      #about-me .content-container .about-me-content .text-content p:first-child {
        font-weight: 600;
        margin-bottom: 30px; }

#projects {
  height: 100%;
  scroll-snap-align: start; }
  #projects .content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 45px; }

#contact-me {
  height: 100%;
  scroll-snap-align: start; }
  #contact-me .content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 45px; }

.main-container {
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y proximity; }
  .main-container .social-buttons {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; }
  .main-container .social-icon {
    width: 2rem;
    transition: background-color 0.5s ease; }
    .main-container .social-icon.linkedin {
      width: 2.5rem;
      border-radius: 20%; }
    .main-container .social-icon.github {
      padding: 5px;
      border-radius: 50%; }
  .main-container .social-icon:hover {
    background-color: #ffffff; }
  .main-container .background {
    animation: slide 11s ease-in-out infinite alternate;
    background-image: linear-gradient(235deg, #121212 50%, #1e1e1e 50%);
    bottom: 0;
    left: -50%;
    opacity: 0.5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1; }

@keyframes slide {
  0% {
    transform: translateX(-25%); }
  100% {
    transform: translateX(25%); } }

/*# sourceMappingURL=style.css.map */