body {
  font-family: "Gill Sans", sans-serif;
  color: #ffffff;
  background: #2a2a2a;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

#root {
  overflow-y: auto;
  height: 100vh; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.header {
  animation: dropHeader 0.5s ease-in-out;
  position: fixed;
  width: 100%; }
  .header .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    position: relative; }
    .header .navbar-container .navbar-links-container {
      display: flex;
      gap: 20px;
      align-items: center; }
      .header .navbar-container .navbar-links-container .navbar-link {
        display: inline-block;
        position: relative;
        color: #ffffff;
        text-transform: uppercase; }
        .header .navbar-container .navbar-links-container .navbar-link:hover {
          cursor: pointer;
          text-decoration: none; }
        .header .navbar-container .navbar-links-container .navbar-link::after {
          content: "";
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 2px;
          bottom: -5px;
          left: 0;
          background-color: #e4e40e;
          transform-origin: bottom right;
          transition: transform 0.25s ease-out; }
        .header .navbar-container .navbar-links-container .navbar-link:hover::after {
          transform: scaleX(1);
          transform-origin: bottom left; }
        .header .navbar-container .navbar-links-container .navbar-link.active::after {
          transform: scaleX(1);
          transform-origin: bottom left; }
    .header .navbar-container .hamburger {
      display: none; }
    .header .navbar-container .navbar-side-container {
      display: none; }
    .header .navbar-container .navbar-name {
      position: absolute;
      top: 0;
      bottom: 0;
      font-size: 20px;
      color: #ffffff;
      text-transform: uppercase; }
      .header .navbar-container .navbar-name::before {
        content: attr(data-text);
        position: absolute;
        width: 0;
        height: 100%;
        color: yellow;
        border-right: 3px solid black;
        overflow: hidden;
        animation: animate 5s ease infinite;
        white-space: nowrap; }
    @media only screen and (max-width: 840px) {
      .header .navbar-container .navbar-links-container {
        display: flex;
        flex-direction: column;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        background-color: black;
        transition: 0.5s;
        padding-top: 60px;
        transform: translateX(100%); }
        .header .navbar-container .navbar-links-container.active {
          transform: translateX(0); }
        .header .navbar-container .navbar-links-container .navbar-link {
          margin: 10px 20px;
          font-size: 18px; }
      .header .navbar-container .hamburger {
        display: flex;
        justify-content: center;
        cursor: pointer;
        align-self: center;
        height: 20px;
        width: 20px; }
        .header .navbar-container .hamburger button img {
          filter: invert(1); } }

@keyframes dropHeader {
  from {
    transform: translateY(-150%); }
  to {
    transform: translateY(0); } }

@keyframes animate {
  50%,
  70% {
    width: 100%; } }

.home {
  height: 100vh; }
  .home .background {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(235deg, #121212 50%, #1e1e1e 50%);
    bottom: 0;
    left: -50%;
    opacity: 0.5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1; }

@keyframes slide {
  0% {
    transform: translateX(-25%); }
  100% {
    transform: translateX(25%); } }

/*# sourceMappingURL=style.css.map */