$white: #ffffff;

$grey: #2a2a2a;

$yellow: rgb(228, 228, 14);

body {
  font-family: "Gill Sans", sans-serif;
  color: $white;
  background: $grey;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 20px;
  margin: 0 0 0;
  text-align: center;
  text-transform: uppercase;
}

#root {
  overflow-y: auto;
  height: 100vh;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.delimiter {
  background-color: $white;
  width: 100%;
  height: 1px;
}
