.header {
  animation: dropHeader 0.5s ease-in-out;
  position: fixed;
  width: 100%;

  .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;

    .navbar-links-container {
      display: flex;
      gap: 20px;
      align-items: center;

      .navbar-link {
        display: inline-block;
        position: relative;
        color: $white;
        text-transform: uppercase;

        &:hover {
          cursor: pointer;
          text-decoration: none;
        }

        &::after {
          content: "";
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 2px;
          bottom: -5px;
          left: 0;
          background-color: $yellow;
          transform-origin: bottom right;
          transition: transform 0.25s ease-out;
        }

        &:hover::after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }

        &.active::after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }
    }

    .hamburger {
      display: none;
    }

    .navbar-side-container {
      display: none;
    }

    .navbar-name {
      color: $white;
      font-size: 24px;
      font-weight: 600;
      &:hover {
        text-decoration: none;
        cursor: pointer;
      }
    }

    @media only screen and (max-width: 840px) {
      .navbar-links-container {
        display: flex;
        flex-direction: column;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        background-color: black;
        transition: 0.5s;
        padding-top: 60px;
        transform: translateX(100%);

        &.active {
          transform: translateX(0);
        }

        .navbar-link {
          margin: 10px 20px;
          font-size: 18px;
        }
      }

      .hamburger {
        display: flex;
        justify-content: center;
        cursor: pointer;
        align-self: center;
        height: 20px;
        width: 20px;

        button {
          img {
            filter: invert(1);
          }
        }
      }
    }
  }
}

@keyframes dropHeader {
  from {
    transform: translateY(-150%);
  }
  to {
    transform: translateY(0);
  }
}
