.main-container {
  height: 100vh;

  .background {
    animation: slide 11s ease-in-out infinite alternate;
    background-image: linear-gradient(
      235deg,
      rgb(18, 18, 18) 50%,
      rgb(30, 30, 30) 50%
    );
    bottom: 0;
    left: -50%;
    opacity: 0.5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
  }

  @keyframes slide {
    0% {
      transform: translateX(-25%);
    }
    100% {
      transform: translateX(25%);
    }
  }
}
