#about-me {
  height: 100%;
  scroll-snap-align: start;

  .content-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 45px;

    .about-me-content {
      margin: 0 20px 10px;
      height: 100%;

      .my-image {
        background-image: url("../../../assets/images/me.jpg");
        height: 20rem;
        width: 20rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 80% 20% 70% 30% / 30% 74% 26% 70%;
        margin: 4rem 20px 0 0;
        float: left;
        shape-outside: ellipse(21% 57% at 77% 73%);

        @media only screen and (max-width: 840px) {
          height: 20vh;
          width: 40vw;
          min-height: 15rem;
          shape-outside: ellipse(26% 36% at 75% 64%);
          margin-top: 6em;
        }
      }

      .text-content {
        p {
          text-align: justify;
          font-weight: 300;

          @media only screen and (max-width: 380px) {
            font-size: 14px;
          }

          @media only screen and (max-width: 290px) {
            font-size: 12px;
          }
        }

        p:first-child {
          font-weight: 600;
          margin-bottom: 30px;
        }
      }
    }
  }
}
