#contact-me {
  height: 100%;
  scroll-snap-align: start;

  .content-container {
    width: 100%;
    padding-top: 45px;
    height: calc(100% - 45px);

    .wrapper-forms {
      height: calc(100% - 65px);
      width: 100%;
      display: flex;

      @media only screen and (min-width: 840px) {
        align-items: center;
      }

      .contact-forms {
        display: flex;
        width: 100%;
        margin: 20px 20px 0;
        justify-content: space-around;
        align-items: flex-start;

        @media only screen and (max-width: 840px) {
          flex-direction: column;
          align-items: center;
          gap: 20px;
        }
      }
    }
  }

  .personal-info {
    flex: 1;
    max-width: 400px;
    display: flex;
    justify-content: center;
  }

  .contact-form {
    flex: 1;
    max-width: 400px;
    border: 2px solid $yellow;
    padding: 20px 25px;
    border-radius: 30px;
    display: flex;
    gap: 20px;
    flex-direction: column;

    .form-group {
      .error-message {
        color: red;
        margin: 0;
      }

      label {
        font-weight: 600;
      }

      input,
      textarea {
        margin-top: 2px;
        width: -webkit-fill-available;
        padding: 12px;
        font-size: 16px;
        border: 1px solid #ddd;
        border-radius: 5px;
        transition: border-color 0.3s ease;

        &:focus {
          outline: none;
          border-color: #4285f4;
        }
      }
    }

    button {
      width: 100%;
      padding: 12px;
      font-size: 16px;
      color: $grey;
      background-color: $yellow;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-weight: bold;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #d49300;
      }
    }
  }
}
